.feed-container{
    background-color: transparent;
    width:48%;
    min-height: calc(100vh - 56px);
    margin-left: 19%;
    margin-top:5px;
    
}

@media only screen and (max-width:950px){
    .feed-container{
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }
}